body {
    background-image: url('https://ts1.cn.mm.bing.net/th/id/R-C.b5ed1aeb411b84f97c0b71c3bf8f872e?rik=fPTLTSmoR8lgow&riu=http%3a%2f%2fimage.hnol.net%2fc%2f2010-10%2f01%2f22%2f201010012207262683-1940023.jpg&ehk=9f9YoYJikT2E6IUSZupwE0%2fMM4UFoMteeZkelzj%2bnP4%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
    background-repeat: no-repeat;
}